*{
    margin: 0;
}
#banner{
    height: 150px;
    background-image: url(../img/pattern.png);
    background-color: rgb(0, 153, 255);
    
    
}

#logoBanner{
    width: 300px;
    margin-top: 65px;
    margin-left: 20px;
}

#titoloAutoreData{
    margin: 20px 0 20px 0;
}
#titoloAutoreData h4{
    color: grey;
}
#titoloAutoreData h5{
    color: grey;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }